@font-face {
    font-family: 'tusi';
    src: url('tusi-bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}
@font-face {
    font-family: 'tusi';
    src: url('tusi-regular.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'tusi';
    src: url('tusi-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'tusi';
    src: url('tusi-regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
